@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

:root {
    --light-mode-main: #5f6f52;
    --light-mode-asisted: #fff;
    --hardal-sarisi: #ffdb58;
    --turuncu: #ffa500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {display: flex;}
.f-column {flex-direction: column;}
.f-row {flex-direction: row;}
.justify-cont-center {justify-content: center;}
.justify-space-beetween {justify-content: space-between;}
.justify-space-evenly {justify-content: space-evenly;}
.align-item-center {align-items: center;}
.pointer {cursor: pointer;}
.d-none {display: none;}
.w-50 {width: 50%;}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f2w700 {
    font-size: 2rem;
    font-weight: 700;
}

.f15w700 {
    font-size: 1.5rem;
    font-weight: 700;
}

.f125w500 {
    font-size: 1.25rem;
    font-weight: 500;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light-mode-asisted);
    color: var(--light-mode-main);
}

nav {
    border-bottom: 2px solid var(--light-mode-main);
    height: 72px;
    padding: .5rem;
}

#logo img {
    width: 200px;
}

#navbar {
    text-align: end;
}

#navbar a {
    text-decoration: none;
}

#navbar i {
    color: var(--light-mode-main);
}

#navbar > :nth-child(n) {
    margin-right: .5rem;
    cursor: pointer;
}

.counting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    font-size: 12rem;
}

.row {
    width: 100%;
    margin-bottom: 1rem
}

[class*="col-"] {
    width: 100%;
}

#start-button {
    display: block;
    margin: auto;
    font-size: 1.5rem;
    padding: 1rem 4rem;
    background-color: var(--hardal-sarisi);
    color: #5f6f52;
    border: 2px solid var(--turuncu);
    border-radius: 8px;
    transition: background-color .2s ease-out, padding .1s ease;
}

#start-button:hover {
    color: #fff;
    background-color: var(--turuncu);
}

#question-area {
    margin: 4rem 2rem 0 2rem;
}

.question-box {
    height: 480px;
    margin: 0 auto;
}

#question {
    height: 20%;
    border-radius: 16px;
    border: 3px solid var(--light-mode-main);
}

#answers {
    height: 80%;
    margin-top: 2rem;
}

#answers button {
    margin-top: 1.5rem;
    width: 50%;
    background-color: var(--light-mode-asisted);
    border: 2px solid var(--light-mode-main);
    border-radius: 8px;
    color: var(--light-mode-main);
    padding: .5rem 1rem;
    text-align: center;
    transition: all .2s ease-in-out;
}

#answers button:hover {
  background-color: var(--light-mode-main);
  color: var(--light-mode-asisted);
}

.dropdowns {
    position: absolute;
    bottom: 0;
    width: 47%;
    border: 1px solid var(--light-mode-main);
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--light-mode-asisted);
    color: var(--light-mode-main);
    border: 1px solid var(--light-mode-main);
}

.badges {
    font-size: .75rem;
    margin-left: .5rem;
    padding: .5rem .8rem;
    border-radius: 50%;
    background-color: var(--light-mode-main);
    color: var(--light-mode-asisted);
}

.ans-list {
    height: 180px;
    overflow-y: scroll;
}

.ans-list ul {
    font-size: 1.25rem;
    list-style-type: none;
}

.ans-list ul li {
    border-bottom: 1px solid var(--light-mode-main);
    padding: .4rem;
}

.ans-list ul li:hover {
    background-color: var(--light-mode-main);
    color: var(--light-mode-asisted);
}

#result {
    font-size: 1.25rem;
    position: absolute;
    left: 50%;
    bottom: 16%;
}

.correct-anime {
    position: absolute;
    left: 50%;
    bottom: 16%;
    transform: translateX(-50%);
    animation: toCorrectBox 2s ease;
}
  
@keyframes toCorrectBox {
    50% {
        left: 25%;
        bottom: 16%;
    }
    100% {
        left: 25%;
        bottom: 0%;
    }
}

.wrong-anime {
    position: absolute;
    left: 50%;
    bottom: 16%;
    transform: translateX(-50%);
    animation: toWrongBox 2s ease;
}
  
@keyframes toWrongBox {
    50% {
        left: 75%;
        bottom: 16%;
    }
    100% {
        left: 75%;
        bottom: 0%;
    }
}

/* =========== FOR DESKTOP ============ */
@media screen and (min-width: 992px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    #logo img {
        width: 360px;
    }

    #navbar > :nth-child(2n+1):not(:last-child) {
        display: none;
    }

    #navbar > :nth-child(2n) {
        display: inline;
        margin-right: 3rem;
        text-decoration: none;
        color: var(--light-mode-main);
    }

    .howto-box {
        display: flex;
        flex-direction: row;
    }

    #start-button {
        font-size: 2rem;
        font-weight: 700;
    }

    #question {
        height: 28%;
    }

    #answers {
        height: 72%;
        display: flex;
        flex-direction: column;
    }

    #answers button {
        width: 30%;
        padding: 1rem;
        margin-top: 0;
        font-size: 1.5rem;
    }

    #answers div {
        height: 50%;
        flex-direction: row;
        justify-content: space-around;
    }

    #answers > :first-child {
        margin-top: 3rem;
    }

    #answers > :last-child {
        margin-bottom: 5rem;
    }

    .dropdowns {
        width: 20%;
    }

    .btn {
        font-size: 1.5rem;
    }

    .badges {
        font-size: 1.5rem;
        font-weight: 700;
        padding: .8rem 1.2rem;
    }

    .ans-list {
        height: 360px;
    }

    .ans-list ul li {
        padding: .8rem;
    }

    #result {
        font-size: 2rem;
        font-weight: 700;
    }

    .correct-anime {
        animation: toCorrectBox 3s ease-in;
    }

    @keyframes toCorrectBox {
        25% {
            left: 50%;
            bottom: 16%;
        }
        50% {
            left: 10%;
            bottom: 16%;
        }
        100% {
            left: 10%;
            bottom: 0%;
        }
    }

    .wrong-anime {
        animation: toWrongBox 3s ease-in;
    }

    @keyframes toWrongBox {
        25% {
            left: 50%;
            bottom: 16%;
        }
        50% {
            left: 90%;
            bottom: 16%;
        }
        100% {
            left: 90%;
            bottom: 0%;
        }
    }

}